@import 'variables.scss';

footer {
    height: 30px;
    p {
        margin:     0px;
        padding:    5px 0px 5px 0px;
        text-align: center;
        font-size:  12px;
        color:      #666;
        @media screen and (max-width: $mobile-threshold-width) {
            font-size: 11px;
        }
    }
}