$base-color: #ec2427;
$brand-font: Impacto, Impact, sans-serif;

$bootstrap-breakpoint-xl: 1200px;
$bootstrap-breakpoint-lg: 992px;
$bootstrap-breakpoint-md: 768px;
$bootstrap-breakpoint-sm: 576px;
$bootstrap-breakpoint-xs: 0;

$header-height:                  45px;
$header-logo-width:              96px;
$header-logo-display-breakpoint: 640px;
$header-title-font-color:        white;
$header-title-font-size:         27px;

$footer-height: 30px;

$app-yield-height: calc(100vh - #{$header-height} - #{$footer-height});

$comics-grid-height: calc(100vh - #{$header-height} - #{$footer-height} - (2 * 48px));